nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-megadropdown-tabs")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") #{title}
    .collapse.navbar-collapse#bs-megadropdown-tabs
      ul.nav.navbar-nav.navbar-left
        -for menuItem in menu
          -if (!menuItem.submenu)
            li.active
              a(href="#{item.url}")= menuItem.title
          -else
            li.dropdown.mega-dropdown
              a.dropdown-toggle(href="#{item.url}")= menuItem.title
                span.caret
              .dropdown-menu.mega-dropdown-menu
                .container-fluid
                  .tab-content
                    -for submenuItem in menuItem.submenu
                      .tab-pane(id="#{submenuItem.catagory}")
                        ul.nav-list.list-inline
                          for sub