script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script.
  jQuery(function ($) {
    var header = $('header.max-size');
    var nav = $('.navbar-default');
    var bod = $('body');
    var win = $(window);
    var doc = $(document);
    //$('#scene').parallax("100%", 0.1);
    header.css('height', win.height() - nav.height());
    win.on('resize', function () {
      header.css('height', win.height() - nav.height());
    });
    win.on('scroll', function () {
      var scrollTop = doc.scrollTop();
      if (win.scrollTop() >= 200) {
        nav.addClass('navbar-fixed-top');
        bod.css('paddingTop', nav.height())
      } else {
        nav.removeClass('navbar-fixed-top');
        bod.css('paddingTop', 0)
      }
      $('.parallax').css('transform', 'translate(0px,' + scrollTop / 1.9 + 'px)');
    });
    $(".dropdown").hover(            
      function() {
        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
        $(this).toggleClass('open');        
      },
      function() {
        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
        $(this).toggleClass('open');       
      }
    );
  });